@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Raleway:wght@400;700&display=swap')

$font-family-sans-serif: 'Roboto', sans-serif !default
$font-family-secondary: 'Raleway', sans-serif !default
$primary: #FA7070
$secondary: #FEFDED
$tertiary: #A1C398
$cuartet: #C6EBC5




@import 'bootstrap/scss/bootstrap'
